<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pliant:ital,wght@0,100..900;1,100..900&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">

    <title>Movimento Livre - Academia Funcional</title>
</head>
<body>
    <header>
        <a href="#"><img src="../static/img/logo-removebg-preview-copia.png" alt="logo Movimento Livre" class="logo"></a>
        
        <nav id="menu" class="menu2">

            <div class="div-buttom-x">
                <button onclick="myFunction()" id="button-ham-x">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>

            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#por-que-escolher-a-movimento">Sobre</a></li>
                <li><a href="#modalidades">Modalidades</a></li>
                <li><a href="#estrutura">Estrutura</a></li>
                <li><a href="#planos">Planos</a></li>
            </ul>

            <button class="button-principal">
                Entrar em Contato
            </button>

        </nav>

        <button class="button-principal" id="button-principal-menu">Entrar em Contato</button>

        <button onclick="myFunction()" id="button-ham"><i class="fa-solid fa-bars"></i></button>
        

    </header>
    <main>
        <section id="hero">
            <div class="conteiner-hero">
                <div class="hero-content">

                    <h1>Treine com propósito. Evolua todos os dias.</h1>

                    <p>
                        Uma academia focada em força, condicionamento físico e qualidade de vida
                        através do treinamento funcional.
                    </p>

                    <button class="button-secundario">
                        Matrícula Experimental
                    </button>

                </div>
            </div>
        </section>

        <section id="por-que-escolher-a-movimento">
            <h2>Por Que Escolher a Movimento Livre?</h2>
            <div class="conteiner-imagens">
                <div>
                    <img src="../static/img/img (16).jpg" alt="">
                    <p>Ambiente acolhedor</p>
                </div>
                <div>
                    <img src="../static/img/instrutores.jpg" alt="">
                    <p>Professores qualificados</p>
                </div>
                <div>
                    <img src="../static/img/img (18).jpg" alt="">
                    <p>Treinos para todos os níveis</p>
                </div>
                <div>
                    <img src="../static/img/intrucao-pessoal.jpg" alt="">
                    <p>Acompanhamento individual</p>
                </div>
                <div>
                    <img src="../static/img/img (10).jpg" alt="">
                    <p>Estrutura moderna</p>
                </div>
                <div>
                    <img src="../static/img/Padrao_qualidade_vida_CAPA_5b1851ec40.jpg" alt="">
                    <p>Comunidade motivadora</p>
                </div>
            </div>
        </section>

        <section id="nossa-metodologia">
            <h2>Nossa Metodologia</h2>

            <p class="descricao">
                Acreditamos que resultados duradouros surgem através da combinação entre:
            </p>

            <div class="metodologia-grid">
                <div class="card-metodologia">
                    <i class="fa-solid fa-dumbbell"></i>
                    <p>Força</p>
                </div>

                <div class="card-metodologia">
                    <i class="fa-solid fa-child-reaching"></i>
                    <p>Mobilidade</p>
                </div>

                <div class="card-metodologia">
                    <i class="fa-solid fa-person-walking"></i>
                    <p>Condicionamento</p>
                </div>

                <div class="card-metodologia">
                    <i class="fa-regular fa-calendar-check"></i>
                    <p>Consistência</p>
                </div>
            </div>

            <p class="descricao-final">
                Nossos programas são adaptados para iniciantes e praticantes avançados.
            </p>
        </section>

        <section id="modalidades">
            <h2>Modalidades</h2>
            <div>

                <div>
                    <h3>Treinamento Funcional</h3>
                    <p>Aulas em grupo focadas em condicionamento e resistência.</p>
                </div>
                <div>
                    <h3>Força e Performance</h3>
                    <p>Treinos voltados para desenvolvimento físico e desempenho.</p>
                </div>
                <div>
                    <h3>Acompanhamento Individual</h3>
                    <p>Planejamento específico para objetivos pessoais.</p>
                </div>
            </div>

        </section>

        <section id="estrutura">
            <h2>Estrutura</h2>
            
            <div>
                <img src="../static/img/img (16).jpg" alt="">
                <img src="../static/img/img (13).jpg" alt="">
                <img src="../static/img/img (14).jpg" alt="">
                <img src="../static/img/img (9).jpg" alt="">
                <img src="../static/img/img (17).jpg" alt="">
                <img src="../static/img/img (5).jpg" alt="">
                <img src="../static/img/img (7).jpg" alt="">
                <img src="../static/img/img (8).jpg" alt="">
            </div>
            
        </section>

        <section id="horarios">
            <h2>Horários e Local</h2>

            <div>

                <div class="conteiner-horarios">
                    <div>
                    <h3>Segunda a Sexta</h3>
                    <p>06h às 21h</p>
                </div>
                <div>
                    <h3>Sábado</h3>
                    <p>08h às 13h</p>
                </div>
            </div>
            <div class="conteiner-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3604.187976097704!2d-52.4121628863517!3d-25.39851765107253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94efcb1b4a0ab88d%3A0xf370f78b3decdf6d!2sR.%20Guarapuava%2C%20944-988%20-%20%C3%81gua%20Verde%2C%20Laranjeiras%20do%20Sul%20-%20PR%2C%2085302-150!5e0!3m2!1spt-BR!2sbr!4v1782333661534!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
            </div>
            
        </div>
            
            
        </section>

        <section id="planos">
            <h2>Planos</h2>
            <div>

                <div class="cards-planos">
                    <img src="../static/img/img (1).jpg" alt="">
                    <div>
                        <h3>Mensal</h3>
                        <p><span class="preco">R$ 90,00</span><span class="span-laranja"> / por mês</span></p>
                        <ul>
                            <li>Acesso livre a academia por 1 meses.</li>
                        </ul>
                        <button class="button-secundario">Adquirir Plano</button>
                    </div>
                </div>
                <div class="cards-planos" id="plano-evolucao">
                    <img src="../static/img/img (2).jpg" alt="">
                    <div>
                        <h3>Trimestral</h3>
                        <p><span class="preco">R$ 250,00</span> / por 3 mês</p>
                        <ul>
                            <li>Acesso livre a academia por 3 meses.</li>
                        </ul>
                        <button class="button-principal">Adquirir Plano</button>
                    </div>
                </div>
                <div>
                    <div class="cards-planos">
                        <img src="../static/img/img (3).jpg" alt="">
                        <div>
                            <h3>Anual</h3>
                            <p><span class="preco">R$ 900,00</span><span class="span-laranja"> / por ano</span></p>
                            <ul>
                                <li>Acesso livre a academia por 1 ano.</li>
                            </ul>
                            <button class="button-secundario">Adquirir Plano</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="o-que-dizem">
            <h2>Depoimentos</h2>
            <h3>O Que Nossos Alunos Dizem</h3>

            <div class="conteiner-depoimentos">

                <div class="depoimento-card">
                    <div>
                        <img src="../static/img/defaut.jpg" alt="">
                    </div>
                    <p>"Finalmente encontrei um lugar onde me sinto motivado a treinar."</p>
                    <p class="nome-depoimento">Juliana M.</p>
                </div>
                
                <div class="depoimento-card">
                    <div>

                        <img src="../static/img/defaut.jpg" alt="">
                    </div>
                    <p>"Os professores acompanham de verdade a evolução dos alunos."</p>
                    <p class="nome-depoimento">Ricardo A.</p>
                </div>
                
                <div class="depoimento-card">
                    <div>

                        <img src="../static/img/defaut.jpg" alt="">
                    </div>
                    <p>"Ambiente excelente e treinos muito bem estruturados."</p>
                    <p class="nome-depoimento">Patrícia S.</p>
                </div>
            </div>

        </section>

        <section id="faq">
            <h2>Perguntas Frequentes</h2>
            <div>
                <p>Preciso estar em forma para começar?</p>
                <p>Não. Todos os treinos são adaptados para iniciantes.</p>
            </div>

            <div>
                <p>Posso fazer uma aula experimental?</p>
                <p>Sim. Entre em contato e agende sua aula.</p>
            </div>

            <div>
                <p>Há acompanhamento profissional?</p>
                <p>Sim. Nossa equipe acompanha a evolução de cada aluno.</p>
            </div>

        </section>

        <section class="chamada-final">
            <div class="chamada-final-container">
                <h2>Comece sua transformação hoje</h2>

                <p>
                    Agende sua aula experimental gratuita e descubra
                    o melhor da sua performance.
                </p>

                <button class="cta-button">
                    Quero Conhecer a Academia
                </button>
            </div>
        </section>

        <section id="local">
            
        </section>
    </main>
    <footer id="footer">
        <div class="footer-container">

            <div class="footer-col">
                <h3>Movimento Livre</h3>
                <p>
                    Transformando vidas através do movimento,
                    saúde e qualidade de vida.
                </p>
            </div>

            <div class="footer-col">
                <h3>Links Rápidos</h3>
                <ul>
                    <li><a href="#modalidades">Modalidades</a></li>
                    <li><a href="#estrutura">Estrutura</a></li>
                    <li><a href="#planos">Planos</a></li>
                    <li><a href="#faq">Perguntas Frequentes</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3>Contato</h3>
                <p>
                    <i class="fa-solid fa-location-dot"></i>
                    Rua Exemplo, 123
                </p>
                <p>
                    <i class="fa-solid fa-phone"></i>
                    (42) 99999-9999
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    contato@movimentolivre.com.br
                </p>
            </div>

            <div class="footer-col">
                <h3>Redes Sociais</h3>

                <div class="social-icons">
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>
                © 2025 Movimento Livre. Todos os direitos reservados.
            </p>
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>